<div class="jumbotron">
  <div class="container">
    <div class="center">
      <h1>Craigslist Home Rentals</h1>
      <h2>The quickest way to find apartment rentals in Brooklyn, NY</h2>
    </div>

    <%= render 'filter' %>
  </div>
</div>